body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.graygreen {
  background: darkslategray;

  animation: graygreen 20000ms infinite;
  animation-fill-mode: backwards;
}

.flashy {
  background: #ff3a36;

  animation: flashy 500ms ease-out infinite;
  animation-fill-mode: backwards;
}


#main {
  padding: 0 1em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: 'Courier New', monospace;
  font-size: 125px;
  text-shadow: 0 0 5px darkgreen;
  font-weight: 600;
}

.flashy #main {
  text-shadow: 0 0 5px #eed202;
}

.code {
  font-size: 40px;
  color: darkgreen;
  font-family: monospace;
  text-shadow: 0 0 3px darkslategray;
  top: 0;
  position: absolute;
  animation: downwards 500ms linear 0s infinite;
  /* animation-fill-mode: backwards; */
}

#menu {
  width: 80%;
  max-width: 800px;
  height: 75vh;
  margin: 0;
  position: absolute;
  top: calc(12.5vh);
  left: 10vw;
  background: #e3e3e3;
  border: 3px solid lightgray;
  border-radius: 30px;
  box-shadow: 1px 1px 8px 3px #e3e3e3;
  padding: 1em;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* box-shadow: inset 0 -10px 20px -10px black; */

  transform: scale(0);
  opacity: 0;
  /* display: none; */
  transform-origin: center;


} @media screen and (min-width: 1000px) {
  #menu {
    left: calc(50vw - 400px)
  }
}

#menu::-webkit-scrollbar {
  display: none;
}

.row {
  height: 40px;
  margin: 4px;
  font: 30px Arial, sans-serif;
  border: 2px solid darkslategray;
  border-radius: 5px;
  height: 1.5em;
  line-height: 1.5em;
  background: lightgray;

  display: flex;
}

.key {
  background: linear-gradient(to right, darkslategray calc(100% - 15px), transparent);
  /* border-radius: inherit; */
  color: #e3e3e3;
  padding: 0 20px 0 10px;
  /* box-shadow: -0px 0 0 1px darkslategray; */
  text-align: center;
  min-width: 30px;
  transition: 0.2s;
}

.explanation {
  color: darkslategray;
  padding-left: 10px;
  flex-grow: 3;
  transition: 0.2s;
}

.row-hoverable {
  cursor: pointer;
} .row-hoverable:hover {
  border-color: black;
  background: #c2c2c2;
} .row-hoverable:hover .key {
  color: white;
} .row-hoverable:hover .explanation {
  color: black;
}

.source {
  font: 18px Arial, sans-serif;
  text-align: center;
  background: lightgray;
  /* width: 80%; */
  border: 2px solid darkslategray;
  border-radius: 15px;
  margin: 0.5em auto;
  padding: 0.5em;
  position: relative;
}

.grow {
  animation: grow 0.7s ease-out;
  animation-fill-mode: forwards;
}

.shrink {
  animation: shrink 0.7s ease-out;
  animation-fill-mode: forwards;
}

.cover {
  z-index: 100;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background: black;
  cursor: none;
}



@keyframes graygreen {
  50% {background: #314131;}
}

@keyframes flashy {
  20% {background: #35ea6b;}
  40% {background: #dfa41c;}
  60% {background: #e28129;}
  80% {background: #b215f3;}
  /* to  {background: goldenrod;} */
}

@keyframes downwards {
  0% {padding-top: 0px;}
  100% {padding-top: 45vh;}

}

@keyframes grow {
  from {display: block; transform: scale(0); opacity: 0;}
  to   {display: block; transform: scale(1); opacity: 1;}

}

@keyframes shrink {
  from {display: block; transform: scale(1); opacity: 1;}
  99% {display: block; transform: scale(0); opacity: 0;}
  to {display: none;}
}

.nonexistant {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
